@use '../../colors';

.merchBanner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    background-color: colors.$fuchsia;
    color: colors.$white;

    p {
        font-size: .75rem;
        text-align: center;
    }
}

@media (width >= 780px) {
    .merchBanner{
        p {
            font-size: 1rem;
        }
    }
}
