@use '../../colors';

.discountsBanner {
    width: 100%;
    height: 50px;
    background-color: colors.$fuchsia;
    display: flex;
    align-items: center;
    justify-content: center;
    color: colors.$white;

    p {
        font-size: .75rem;
        text-align: center;
    }
}
