@use '../../colors';

.searchBar {
    display: flex;
    width: 80%;
    max-width: 400px;
    height: 35px;
    border: 1px solid colors.$black;
    border-radius: 4px;
    margin-right: .25rem;

    input {
        width: 360px;
        border: 0;
        padding: 0 8px;
        outline: none;
    }

    div {
        min-width: 40px;
        height: 100%;
        background-color: colors.$black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
