@use '../../colors';

header {
    max-height: 125px;
    margin-bottom: 1px solid colors.$light-gray;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.middle {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.bottom {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$extra-light-gray;
    display: none;
}

.topHeaderIcons {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.icon {
    padding: .75rem;
}

.subsections {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.subsection {
    font-size: 13px;
}
