$white: #FFFFFF;
$black: #000000;
$extra-light-gray: #F8F8F8;
$light-gray: #CCCCCC;
$gray: #BCBCBC;
$dark-gray: #00000080;
$darker-gray: #545454;
$darkest-gray: #555555;
$fuchsia: #AF0E4E;
$blue: #0D5C91;
$red: #E02020;
$dark-red: #AF0200;
